flows.json
[
    {
        "id": "ab127697727f4707",
        "type": "tab",
        "label": "Team 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e597eb241d16a92a",
        "type": "mqtt out",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/start",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b43680920fc55232",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "4bf9b1303935f07c",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1290,
        "y": 200,
        "wires": [
            [
                "66e5611ec74c6326",
                "75b6d8c86588cc22",
                "34c32b70312a7194"
            ]
        ]
    },
    {
        "id": "b38860f6e59cc6a0",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "557db691d2f46077",
        "type": "eth-ip in",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "mode": "single",
        "variable": "Group8SystemOut",
        "program": "",
        "name": "",
        "x": 1290,
        "y": 620,
        "wires": [
            [
                "09803e5d17b3f69f",
                "7fb0dd76756017c5",
                "3ef0c1907bf5ed8c"
            ]
        ]
    },
    {
        "id": "a017f60bd30202f6",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "Group8Start",
        "program": "",
        "name": "PLCStart",
        "x": 1080,
        "y": 320,
        "wires": []
    },
    {
        "id": "45c1ae5fe4afe985",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "fb9a6153904373fe",
        "variable": "WLeadG8",
        "program": "",
        "name": "",
        "x": 1080,
        "y": 440,
        "wires": []
    },
    {
        "id": "1976dcb54bd30d1c",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "WLeadG8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 820,
        "y": 440,
        "wires": [
            [
                "45c1ae5fe4afe985"
            ]
        ]
    },
    {
        "id": "63479bfe3f8fb4ea",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "WLagG8",
        "program": "",
        "name": "WLagG8",
        "x": 1080,
        "y": 500,
        "wires": []
    },
    {
        "id": "6d0aed86a35f5476",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "WLagG8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 820,
        "y": 500,
        "wires": [
            [
                "63479bfe3f8fb4ea"
            ]
        ]
    },
    {
        "id": "20542ce8c6114814",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "ZetaLeadG8",
        "program": "",
        "name": "ZetaLeadG8",
        "x": 1090,
        "y": 560,
        "wires": []
    },
    {
        "id": "6802a7bfcf6964aa",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "ZetaLeadG8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.29",
        "payloadType": "num",
        "x": 830,
        "y": 560,
        "wires": [
            [
                "20542ce8c6114814"
            ]
        ]
    },
    {
        "id": "175a4a2fc726ac4c",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "ZetaLagG8",
        "program": "",
        "name": "ZetaLagG8",
        "x": 1090,
        "y": 620,
        "wires": []
    },
    {
        "id": "f252c3285d8a2a47",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "ZetaLagG8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.53",
        "payloadType": "num",
        "x": 820,
        "y": 620,
        "wires": [
            [
                "175a4a2fc726ac4c"
            ]
        ]
    },
    {
        "id": "66e5611ec74c6326",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "Group8Reference",
        "program": "",
        "name": "Group8Reference",
        "x": 1530,
        "y": 260,
        "wires": []
    },
    {
        "id": "09803e5d17b3f69f",
        "type": "mqtt out",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/SystemOut",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21cdba4a.be7146",
        "x": 1530,
        "y": 620,
        "wires": []
    },
    {
        "id": "7fb0dd76756017c5",
        "type": "function",
        "z": "ab127697727f4707",
        "name": "timestamp creater",
        "func": "msg.payload = new Date();\nmsg.payload = msg.payload.getTime();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 440,
        "wires": [
            [
                "965558a90510cd63"
            ]
        ]
    },
    {
        "id": "965558a90510cd63",
        "type": "mqtt out",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/tsgo",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21cdba4a.be7146",
        "x": 1770,
        "y": 440,
        "wires": []
    },
    {
        "id": "6909ba0ed33abc2e",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/tscome",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1280,
        "y": 360,
        "wires": [
            [
                "2d2b81efb4fb17f1"
            ]
        ]
    },
    {
        "id": "29f098b5ac6352ce",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "send timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1300,
        "y": 440,
        "wires": [
            [
                "7fb0dd76756017c5"
            ]
        ]
    },
    {
        "id": "2d2b81efb4fb17f1",
        "type": "function",
        "z": "ab127697727f4707",
        "name": "compare ts",
        "func": "now = new Date();\n\nmsg.payload = (now.getTime() - msg.payload);\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 360,
        "wires": [
            [
                "9c11ce9fa10784c9",
                "5d5a84b11603dec7",
                "7d19df9df82ff024"
            ]
        ]
    },
    {
        "id": "761e35b2c83a0bd9",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/start_system",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 280,
        "wires": [
            [
                "904a955c3621547f"
            ]
        ]
    },
    {
        "id": "75b6d8c86588cc22",
        "type": "debug",
        "z": "ab127697727f4707",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1510,
        "y": 200,
        "wires": []
    },
    {
        "id": "856cbed793adb591",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "0 0-22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "904a955c3621547f"
            ]
        ]
    },
    {
        "id": "0cb1110a3980c561",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "904a955c3621547f"
            ]
        ]
    },
    {
        "id": "83a6dc0483a075e9",
        "type": "debug",
        "z": "ab127697727f4707",
        "name": "start",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 180,
        "wires": []
    },
    {
        "id": "9c11ce9fa10784c9",
        "type": "mqtt out",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/tserror",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21cdba4a.be7146",
        "x": 1780,
        "y": 300,
        "wires": []
    },
    {
        "id": "5d5a84b11603dec7",
        "type": "debug",
        "z": "ab127697727f4707",
        "name": "Ts error",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1760,
        "y": 360,
        "wires": []
    },
    {
        "id": "6b09b99e56481483",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "try",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 810,
        "y": 680,
        "wires": [
            [
                "175a4a2fc726ac4c",
                "20542ce8c6114814",
                "63479bfe3f8fb4ea",
                "45c1ae5fe4afe985"
            ]
        ]
    },
    {
        "id": "7873198b56215fc2",
        "type": "trigger",
        "z": "ab127697727f4707",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "e597eb241d16a92a",
                "a017f60bd30202f6",
                "83a6dc0483a075e9"
            ]
        ]
    },
    {
        "id": "730318cef3d59ede",
        "type": "trigger",
        "z": "ab127697727f4707",
        "name": "",
        "op1": "false",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "true",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "e597eb241d16a92a",
                "a017f60bd30202f6",
                "83a6dc0483a075e9"
            ]
        ]
    },
    {
        "id": "904a955c3621547f",
        "type": "ui_switch",
        "z": "ab127697727f4707",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "55f2025f337d58e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "7873198b56215fc2",
                "730318cef3d59ede"
            ]
        ]
    },
    {
        "id": "09edc4dcd0642bd0",
        "type": "ui_chart",
        "z": "ab127697727f4707",
        "name": "",
        "group": "d1d90408aa3d72e9",
        "order": 1,
        "width": "5",
        "height": "5",
        "label": "ts error mean",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7d19df9df82ff024",
        "type": "function",
        "z": "ab127697727f4707",
        "name": "mean1",
        "func": "group8Count1 = flow.get(\"group8/count1\");\ngroup8Mean1 = flow.get(\"group8/mean1\");\ngroup8Recalculate1 = flow.get(\"group8/recalculate1\");\ngroup8Queue1 = flow.get(\"group8/queue1\");\nvar len = 100\n\nif(group8Recalculate1)\n{\n    group8Queue1 = [];\n    group8Count1 = 0;\n    group8Mean1 = 0;\n    group8Recalculate1 = 0;\n}\ngroup8Queue1.push(msg.payload);\n\nif(group8Count1 < len)\n{    \n    group8Mean1 = (group8Mean1*group8Count1 + msg.payload)/(group8Count1+1);\n    group8Count1 = group8Count1 + 1; \n    msg.payload = group8Mean1;\n} \nelse\n{\n    var removed_element = group8Queue1.shift();\n    \n    group8Mean1 = (group8Mean1*len + msg.payload - removed_element)/len\n    msg.payload = group8Mean1;\n}\n\n \n\n\nflow.set(\"group8/count1\",group8Count1);\nflow.set(\"group8/mean1\",group8Mean1);\nflow.set(\"group8/recalculate1\",group8Recalculate1);\nflow.set(\"group8/queue1\",group8Queue1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\ngroup8Count1 = flow.get(\"group8/count1\") || 0;\ngroup8Mean1 = flow.get(\"group8/mean1\") || 0;\ngroup8Recalculate1 = flow.get(\"group8/recalculate1\") || 0;\ngroup8Queue1 = flow.get(\"group8/queue1\") || [];\n\nflow.set(\"group8/count1\",0);\nflow.set(\"group8/mean1\",0);\nflow.set(\"group8/recalculate1\",0);\nflow.set(\"group8/queue1\",[]);\n\n",
        "finalize": "",
        "libs": [],
        "x": 1750,
        "y": 220,
        "wires": [
            [
                "09edc4dcd0642bd0",
                "e266ff6a62452a56"
            ]
        ]
    },
    {
        "id": "e266ff6a62452a56",
        "type": "debug",
        "z": "ab127697727f4707",
        "name": "mean1",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2000,
        "y": 160,
        "wires": []
    },
    {
        "id": "082efcbd201773bf",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/reset_mean1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1790,
        "y": 160,
        "wires": [
            [
                "9980516dc237e331"
            ]
        ]
    },
    {
        "id": "9980516dc237e331",
        "type": "function",
        "z": "ab127697727f4707",
        "name": "reset mean1",
        "func": "flow.set(\"group8/count1\",0);\nflow.set(\"group8/mean1\",0);\nflow.set(\"group8/recalculate1\",0);\nflow.set(\"group8/queue1\",[]);\n\nreturn msg;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2010,
        "y": 100,
        "wires": []
    },
    {
        "id": "a49d1e82d8ea3885",
        "type": "ui_button",
        "z": "ab127697727f4707",
        "name": "",
        "group": "d1d90408aa3d72e9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "reset mean1",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1770,
        "y": 100,
        "wires": [
            [
                "9980516dc237e331"
            ]
        ]
    },
    {
        "id": "4e18cd8a409aeb3f",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "reset mean1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1790,
        "y": 40,
        "wires": [
            [
                "9980516dc237e331"
            ]
        ]
    },
    {
        "id": "34c32b70312a7194",
        "type": "ui_chart",
        "z": "ab127697727f4707",
        "name": "",
        "group": "bbcdb05cdb3a0a4a",
        "order": 1,
        "width": "5",
        "height": "5",
        "label": "temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1510,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3ef0c1907bf5ed8c",
        "type": "ui_chart",
        "z": "ab127697727f4707",
        "name": "",
        "group": "82f9eea67c01dfe2",
        "order": 1,
        "width": "5",
        "height": "5",
        "label": "System Out",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "4",
        "removeOlderPoints": "100000",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1510,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b43680920fc55232",
        "type": "mqtt-broker",
        "name": "",
        "broker": "160.75.154.100",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5dbbde2292bcf49",
        "type": "eth-ip endpoint",
        "z": "ab127697727f4707",
        "address": "172.16.2.171",
        "slot": "0",
        "cycletime": "500",
        "name": "Group8PLC",
        "vartable": {
            "": {
                "Group8SystemOut": {
                    "type": "REAL"
                },
                "Group8Start": {
                    "type": "BOOL"
                },
                "WLeadG8": {
                    "type": "REAL"
                },
                "WLagG8": {
                    "type": "REAL"
                },
                "ZetaLeadG8": {
                    "type": "REAL"
                },
                "ZetaLagG8": {
                    "type": "REAL"
                },
                "Group8Reference": {
                    "type": "REAL"
                }
            }
        }
    },
    {
        "id": "fb9a6153904373fe",
        "type": "eth-ip endpoint",
        "address": "172.16.2.171",
        "slot": "0",
        "cycletime": "500",
        "name": "",
        "vartable": {
            "": {
                "Group8SystemOut": {
                    "type": "REAL"
                },
                "Group8Start": {
                    "type": "BOOL"
                },
                "WLeadG8": {
                    "type": "REAL"
                },
                "WLagG8": {
                    "type": "REAL"
                },
                "ZetaLeadG8": {
                    "type": "REAL"
                },
                "ZetaLagG8": {
                    "type": "REAL"
                },
                "Group8Reference": {
                    "type": "REAL"
                }
            }
        }
    },
    {
        "id": "21cdba4a.be7146",
        "type": "mqtt-broker",
        "name": "",
        "broker": "160.75.154.100",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "55f2025f337d58e6",
        "type": "ui_group",
        "name": "team8/group1",
        "tab": "84877518892f79d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1d90408aa3d72e9",
        "type": "ui_group",
        "name": "team8/group2",
        "tab": "84877518892f79d0",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bbcdb05cdb3a0a4a",
        "type": "ui_group",
        "name": "team8/group3",
        "tab": "84877518892f79d0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "82f9eea67c01dfe2",
        "type": "ui_group",
        "name": "team8/group4",
        "tab": "84877518892f79d0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "84877518892f79d0",
        "type": "ui_tab",
        "name": "team8/dashboard_tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]