flows.json
[
    {
        "id": "ab127697727f4707",
        "type": "tab",
        "label": "Team 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e597eb241d16a92a",
        "type": "mqtt out",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/start",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b43680920fc55232",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "4bf9b1303935f07c",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1170,
        "y": 120,
        "wires": [
            [
                "66e5611ec74c6326",
                "75b6d8c86588cc22"
            ]
        ]
    },
    {
        "id": "b38860f6e59cc6a0",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "557db691d2f46077",
        "type": "eth-ip in",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "mode": "single",
        "variable": "Group8SystemOut",
        "program": "",
        "name": "",
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "09803e5d17b3f69f",
                "7fb0dd76756017c5"
            ]
        ]
    },
    {
        "id": "a017f60bd30202f6",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "Group8Start",
        "program": "",
        "name": "PLCStart",
        "x": 960,
        "y": 200,
        "wires": []
    },
    {
        "id": "45c1ae5fe4afe985",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "fb9a6153904373fe",
        "variable": "WLeadG8",
        "program": "",
        "name": "",
        "x": 960,
        "y": 320,
        "wires": []
    },
    {
        "id": "1976dcb54bd30d1c",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "WLeadG8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "45c1ae5fe4afe985"
            ]
        ]
    },
    {
        "id": "63479bfe3f8fb4ea",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "WLagG8",
        "program": "",
        "name": "WLagG8",
        "x": 960,
        "y": 380,
        "wires": []
    },
    {
        "id": "6d0aed86a35f5476",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "WLagG8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 680,
        "y": 380,
        "wires": [
            [
                "63479bfe3f8fb4ea"
            ]
        ]
    },
    {
        "id": "20542ce8c6114814",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "ZetaLeadG8",
        "program": "",
        "name": "ZetaLeadG8",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "6802a7bfcf6964aa",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "ZetaLeadG8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.29",
        "payloadType": "num",
        "x": 690,
        "y": 440,
        "wires": [
            [
                "20542ce8c6114814"
            ]
        ]
    },
    {
        "id": "175a4a2fc726ac4c",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "ZetaLagG8",
        "program": "",
        "name": "ZetaLagG8",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "f252c3285d8a2a47",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "ZetaLagG8",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.53",
        "payloadType": "num",
        "x": 680,
        "y": 500,
        "wires": [
            [
                "175a4a2fc726ac4c"
            ]
        ]
    },
    {
        "id": "66e5611ec74c6326",
        "type": "eth-ip out",
        "z": "ab127697727f4707",
        "endpoint": "a5dbbde2292bcf49",
        "variable": "Group8Reference",
        "program": "",
        "name": "Group8Reference",
        "x": 1410,
        "y": 120,
        "wires": []
    },
    {
        "id": "09803e5d17b3f69f",
        "type": "mqtt out",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/SystemOut",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21cdba4a.be7146",
        "x": 1410,
        "y": 500,
        "wires": []
    },
    {
        "id": "7fb0dd76756017c5",
        "type": "function",
        "z": "ab127697727f4707",
        "name": "timestamp creater",
        "func": "msg.payload = new Date();\nmsg.payload = msg.payload.getTime();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 320,
        "wires": [
            [
                "965558a90510cd63"
            ]
        ]
    },
    {
        "id": "965558a90510cd63",
        "type": "mqtt out",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/tsgo",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21cdba4a.be7146",
        "x": 1650,
        "y": 320,
        "wires": []
    },
    {
        "id": "6909ba0ed33abc2e",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/tscome",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "2d2b81efb4fb17f1"
            ]
        ]
    },
    {
        "id": "29f098b5ac6352ce",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "send timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1180,
        "y": 320,
        "wires": [
            [
                "7fb0dd76756017c5"
            ]
        ]
    },
    {
        "id": "2d2b81efb4fb17f1",
        "type": "function",
        "z": "ab127697727f4707",
        "name": "compare ts",
        "func": "now = new Date();\n\nmsg.payload = now.getTime() - msg.payload;\n \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 240,
        "wires": [
            [
                "9c11ce9fa10784c9",
                "5d5a84b11603dec7"
            ]
        ]
    },
    {
        "id": "761e35b2c83a0bd9",
        "type": "mqtt in",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/start_system",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b43680920fc55232",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "7873198b56215fc2",
                "730318cef3d59ede"
            ]
        ]
    },
    {
        "id": "75b6d8c86588cc22",
        "type": "debug",
        "z": "ab127697727f4707",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "jsonata",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1390,
        "y": 60,
        "wires": []
    },
    {
        "id": "856cbed793adb591",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "0 0-22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "7873198b56215fc2",
                "730318cef3d59ede"
            ]
        ]
    },
    {
        "id": "0cb1110a3980c561",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "7873198b56215fc2",
                "730318cef3d59ede"
            ]
        ]
    },
    {
        "id": "83a6dc0483a075e9",
        "type": "debug",
        "z": "ab127697727f4707",
        "name": "start",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 60,
        "wires": []
    },
    {
        "id": "9c11ce9fa10784c9",
        "type": "mqtt out",
        "z": "ab127697727f4707",
        "name": "",
        "topic": "group8/tserror",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "21cdba4a.be7146",
        "x": 1660,
        "y": 180,
        "wires": []
    },
    {
        "id": "5d5a84b11603dec7",
        "type": "debug",
        "z": "ab127697727f4707",
        "name": "Ts error",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 240,
        "wires": []
    },
    {
        "id": "6b09b99e56481483",
        "type": "inject",
        "z": "ab127697727f4707",
        "name": "try",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 670,
        "y": 560,
        "wires": [
            [
                "175a4a2fc726ac4c",
                "20542ce8c6114814",
                "63479bfe3f8fb4ea",
                "45c1ae5fe4afe985"
            ]
        ]
    },
    {
        "id": "7873198b56215fc2",
        "type": "trigger",
        "z": "ab127697727f4707",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "false",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 120,
        "wires": [
            [
                "e597eb241d16a92a",
                "a017f60bd30202f6",
                "83a6dc0483a075e9"
            ]
        ]
    },
    {
        "id": "730318cef3d59ede",
        "type": "trigger",
        "z": "ab127697727f4707",
        "name": "",
        "op1": "false",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "true",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "e597eb241d16a92a",
                "a017f60bd30202f6",
                "83a6dc0483a075e9"
            ]
        ]
    },
    {
        "id": "b43680920fc55232",
        "type": "mqtt-broker",
        "name": "",
        "broker": "160.75.154.100",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a5dbbde2292bcf49",
        "type": "eth-ip endpoint",
        "z": "ab127697727f4707",
        "address": "172.16.2.171",
        "slot": "0",
        "cycletime": "500",
        "name": "Group8PLC",
        "vartable": {
            "": {
                "Group8SystemOut": {
                    "type": "REAL"
                },
                "Group8Start": {
                    "type": "BOOL"
                },
                "WLeadG8": {
                    "type": "REAL"
                },
                "WLagG8": {
                    "type": "REAL"
                },
                "ZetaLeadG8": {
                    "type": "REAL"
                },
                "ZetaLagG8": {
                    "type": "REAL"
                },
                "Group8Reference": {
                    "type": "REAL"
                }
            }
        }
    },
    {
        "id": "fb9a6153904373fe",
        "type": "eth-ip endpoint",
        "address": "172.16.2.171",
        "slot": "0",
        "cycletime": "500",
        "name": "",
        "vartable": {
            "": {
                "Group8SystemOut": {
                    "type": "REAL"
                },
                "Group8Start": {
                    "type": "BOOL"
                },
                "WLeadG8": {
                    "type": "REAL"
                },
                "WLagG8": {
                    "type": "REAL"
                },
                "ZetaLeadG8": {
                    "type": "REAL"
                },
                "ZetaLagG8": {
                    "type": "REAL"
                },
                "Group8Reference": {
                    "type": "REAL"
                }
            }
        }
    },
    {
        "id": "21cdba4a.be7146",
        "type": "mqtt-broker",
        "name": "",
        "broker": "160.75.154.100",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]